<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpSync.Data.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SpSync.Data.Server.Properties.Settings>
            <setting name="SpSync_Data_Server_SpWS_Lists" serializeAs="String">
                <value>http://testintranet/crm/_vti_bin/Lists.asmx</value>
            </setting>
        </SpSync.Data.Server.Properties.Settings>
    </applicationSettings>
</configuration>