<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpWSTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SpWSTest.Properties.Settings.testConnectionString"
            connectionString="Data Source=|DataDirectory|\test.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <applicationSettings>
        <SpWSTest.Properties.Settings>
            <setting name="SpWSTest_SPWS_Lists" serializeAs="String">
                <value>http://win-3e3tor3z18n/_vti_bin/Lists.asmx</value>
            </setting>
        </SpWSTest.Properties.Settings>
    </applicationSettings>
</configuration>